<p>Hi <%= user.user %>!</p>
<p><b><%= client.name %></b> is requesting <b><%= scopes[0]%> access</b> to your account.</p>
<p>Do you approve?</p>

<form action="/oauth2/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionId %>" />
  <input name="credentialID" type="hidden" value="<%= credentialID %>" />
  <input name="hash" type="hidden" value="<%= hash %>" />
  <input name="num_signatures" type="hidden" value="<%= num_signatures %>" />
  <div>
    <input type="submit" value="Allow" id="allow" />
    <input type="submit" value="Deny" name="cancel" id="deny" />
  </div>
</form>
